@import "tailwindcss";
@plugin "flyonui";
@import "./node_modules/flyonui/variants.css"; /* Require only if you want to use FlyonUI JS component */
@source "./node_modules/flyonui/dist/index.js"; /* Require only if you want to use FlyonUI JS component */

body {
  background: black;
  font-family: sans-serif;
  color: white;
  text-align: center;
  min-height: 100vh;
}
* {
  box-sizing: border-box;

  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
.head-hero {
  background: linear-gradient(to right, #190101, #000000, #010b17);
} */
.card {
  min-width: 320px;
  background: linear-gradient(180deg, #1c1c1c, #111);
  border-radius: 20px;
  padding: 24px;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    0 10px 30px rgba(0, 0, 0, 0.6);
}
.stars {
  letter-spacing: 2px;
}
.btn-gradient {
  background: #14cf93;
  border: 1px #14cf93 solid;
}

.accenture-logo {
  width: 133.54px;
  height: 50.078px;
  background: linear-gradient(
    90deg,
    #0f0f0f 0%,
    rgba(15, 15, 15, 0.8) 50%,
    rgba(15, 15, 15, 0) 100%
  );
}
.shopify {
  width: 133.54px;
  height: 50.078px;
  background: linear-gradient(
    270deg,
    #0f0f0f 0%,
    rgba(15, 15, 15, 0.8) 50%,
    rgba(15, 15, 15, 0) 100%
  );
}
